*patch
*swp
*.pyc
__pycache__
.pytest_cache/
tags
pkgs/
data/
build/
htmlcov/
metastore_db/
spark-warehouse/
.idea
*.egg-info/
data/
.history
.vscode
.ipynb_checkpoints
.history
.DS_store
.coverage
.coverage.*
coverage.xml
.pre-commit-config.yaml
env/*.zip
tests/report/cover
tests/report/*.html
tests/report/*.xml
tests/.coverage
pylint.out
